.module-section {
  position: relative; }
  .module-section.is-dragging, .module-section.is-keyboard-moving {
    background-color: #fbf4fc;
    border-radius: 2px;
    border: dashed 2px rgba(197, 111, 213, 0.5); }
    .module-section.is-dragging .item-container, .module-section.is-keyboard-moving .item-container {
      opacity: .5; }
  .module-section.is-keyboard-moving.should-on-focus .item-container {
    opacity: 1; }
  .module-section .drop-up-half, .module-section .drop-down-half {
    display: none;
    position: absolute;
    height: 50%;
    width: 100%; }
    .module-section .drop-up-half.show, .module-section .drop-down-half.show {
      display: block;
      z-index: 1000; }
  .module-section .drop-down-half.show {
    height: calc(50% + 20px); }
  .module-section .drop-up-half {
    top: 0; }
  .module-section .drop-down-half {
    top: 50%; }
  .module-section .insert-placeholder {
    position: relative;
    transition: all .3s ease;
    height: 0;
    background-color: rgba(197, 111, 213, 0.25); }
    .module-section .insert-placeholder.show {
      height: 20px; }
  .module-section .drag-preview-item {
    position: fixed;
    display: none;
    background: white;
    z-index: 999;
    border-radius: 2px;
    border: 1px solid #c56fd5;
    box-shadow: 0 0 0 4px rgba(197, 111, 213, 0.1);
    padding: 20px;
    font-size: 1.2rem;
    box-sizing: border-box; }
    .module-section .drag-preview-item.show {
      display: block; }
  .module-section .key-insert-placeholder {
    box-sizing: border-box;
    width: 100%;
    background: white;
    border-radius: 2px;
    border: 1px solid #c56fd5;
    box-shadow: 0 0 0 4px rgba(197, 111, 213, 0.1);
    padding: 20px;
    font-size: 1.2rem;
    display: none; }
    .module-section .key-insert-placeholder.show {
      display: block; }

.dnd-drag-placeholder {
  width: 50px;
  height: 50px;
  position: fixed;
  opacity: 0;
  z-index: -1; }
